{% extends 'catalog/base.html' %}

{% block content %} 
    
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            Your email or password didn't match. Try again.
        </div>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning" role="alert">
                Your account doesn't have access to this page. To proceed, please login with an account that has access.
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Please login to view this page.
            </div>
        {% endif %}    
    {% endif %}

    <br>
    <div class="container" role="main">
        <div class="card justify-content-center" style="margin-left: 450px; margin-right: 450px;">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                <hr>
                <p class="text-success text-center">Enter your username and password</p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                    </i>
                                </span>
                            </div>
                            <input class="form-control" type="username" name="username" placeholder="username" id=""> 
                        </div>
                        <!--input group//-->
                    </div>
                    <!--form group//-->

                    <br>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                        </svg>
                                    </i>
                                </span>
                            </div>
                            <input class="form-control" type="password" name="password" placeholder="*******" id="">
                        </div>
                        <!--input group//-->
                    </div>
                    <!--form group//-->

                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" value="login">Login</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                    <!--form group//-->
                </form>
                <p class="text-center">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </p>
            </article>
        </div>
        <!--card.//-->
    </div>

{% endblock content %}
    