{% extends 'catalog/base.html' %}

{% block content %}

    
    {% if author_list %}

    <br>    
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
          </table>
    </div>
    <div class="container-fluid">  
        {% for author in author_list %}
            <tbody>
                <tr>
                    <a href="{% url 'catalog:author_detail' author.id %}">{{ author }}</a>
                </tr>
            </tbody>
            <br>
        {% endfor %}
    </div>

    {% else %}

        <div class="alert alert-warning" role="alert">
            Uh oh -- there doesn't seem to be any authors.
        </div>
            
    {% endif %}
        

{% endblock content %}
    