{% extends 'catalog/base.html' %}

{% block content %}

    {% if user.is_superuser %}

        <br>
        <div class="container-fluid"> 
            <div class="card-body">  
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div> 
        </div>

    {% else %}

        <div class="alert alert-warning">
            You don't seem to be authorized to access this page. Check with your admin for more details.
        </div>

    {% endif %}

{% endblock content %}
    