{% extends 'catalog/base.html' %}

{% block content %}

    
    {% if author_list %}
    <br>    
    <div class="container-fluid">  
        <h5>Author List:</h5>
        {% for author in author_list %}
            <li><a href="{% url 'catalog:author_detail' author.id %}">{{ author }}</a></li>
        {% endfor %}
    </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            Uh oh -- there doesn't seem to be any authors.
        </div>
    {% endif %}
        

{% endblock content %}
    