<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>

<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'catalog:index' %}">Local Library</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'catalog:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:author_list' %}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:book_list' %}">Books</a>
                </li>
                <form class="d-flex" action="{% url 'catalog:search' %}" method="GET">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"  style="margin-top: 4px;">
                    <button class="btn btn-outline-success" type="submit" style="margin-top: 4px;">Search</button>
                </form>
            </ul>
            
            <ul class="navbar-nav justify-content-right">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.username }}</a>
                        <ul class="dropdown-menu" style="right: 0; left: auto;">
                            
                            {% if user.is_staff %}
                                
                            <li><a class="dropdown-item" href="{% url 'catalog:all_borrowed' %}">all borrowed</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                
                            <li><a class="dropdown-item" href="{% url 'catalog:my_borrowed' %}">mybooks</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

                            {% endif %}

                        </ul>
                    </li>
                    
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
                
        </div>
      </nav>

{% block content %}  

{% endblock content %}

{% block pagination %}
      
      {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current_page">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page?={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
      {% endif %}
      
{% endblock pagination %}
    

</body>
</html>