{% extends 'catalog/base.html' %}

{% block content %}
    
    
    {% if book_list %}
        
        <br>    
        <div class="container-fluid"> 
            <h5>Book List:</h5> 
            {% for book in book_list %}
                <li><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }}</a></li> 
            {% endfor %}
        </div>

    {% else %}

        <div class="alert alert-warning" role="alert">
            Uh oh -- all the books disappeared.
        </div>

    {% endif %}
        

{% endblock content %}
    