{% extends 'catalog/base.html' %}


{% block content %}

    <div class="container-fluid">
        <div class="card-body">
            <h4 class="card-title">Renew Book: {{ book_instance.book }}</h4>
            <li class="card-text"><strong>USER: </strong>{{ book_instance.borrower }}</li>
            
            {% if book_instance.is_overdue %}
                
                <li class="card-text"><strong>OVERDUE: </strong>Was due back on <strong class="text-danger">{{ book_instance.due_back }}</strong></li>

            {% else %}

                <li class="card-text"><strong> DUE BACK: </strong><strong class="text-warning">{{ book_instance.due_back }}</strong></li>

            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <table>
                    
                    {% for field in form %}

                        <li><strong>{{ field.label|upper }}</strong>: {{ field }} <em class="text-muted">{{ field.help_text  }}</em></li>   

                    {% endfor %}
                                            
                </table>
                <br>
                <input type="submit" value="Submit">
            </form> 
        </div>
    </div>


{% endblock content %}