{% extends 'catalog/base.html' %}

{% block content %}
    
    
    {% if book_list %}
        
        <br>    
        <div class="container-fluid"> 
            <section>
                <div class="card-body">
                    <h5 class="card-title">Book List:</h5> 
                    {% for book in book_list %}
                        <li class="card-text"><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }}</a></li> 
                    {% endfor %}
                </div>
            </section>
        </div>

    
    {% if user.is_superuser %}
        
        <br>
        <div class="container-fluid">
            <aside>
                <ul class="nav justify-content-right">
                    <a class="btn btn-primary" href="{% url 'catalog:book_create' %}">Create Book</a>
                </ul>
            </aside>
        </div>

    {% endif %}

    {% else %}

        <div class="alert alert-warning" role="alert">
            Uh oh -- all the books disappeared.
        </div>

    {% endif %}
        

{% endblock content %}
    