{% extends 'catalog/base.html' %}

{% block content %}

<br>
<div class="container-fluid">
  <h3>
    Library Records
    <small class="text-muted">Quick stats about the books and authors available</small>
  </h3>
</div>
<br>
<div class="container-fluid">
  <ul>
    <li><strong>Books: </strong>{{ num_books }}</li>
    <li><strong>Copies: </strong>{{ num_instances }}</li>
    <li><strong>Copies Available: </strong>{{ num_instances_available }}</li>
    <li><strong>Authors: </strong>{{ num_authors }}</li>
  </ul>
</div>

{% endblock content %}
    