{% extends 'catalog/base.html' %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="card-body">
    <p><em>A tutorial by the Mozilla Development Network</em></p>
  </div>
  <div class="container-fluid">
    <h3>
      Library Records
      <small class="text-muted">Quick stats about the books and authors available</small>
    </h3>
    <ul>
      <li class="card-text"><strong>Books: </strong>{{ num_books }}</li>
      <li class="card-text"><strong>Copies: </strong>{{ num_instances }}</li>
      <li class="card-text"><strong>Copies Available: </strong>{{ num_instances_available }}</li>
      <li class="card-text"><strong>Genres: </strong>{{ num_genres }}</li>
      <li class="card-text"><strong>Authors: </strong>{{ num_authors }}</li>
    </ul>
  </div>
</div>

<div class="fixed-bottom" style="margin-bottom: 10px; margin-left: 10px;">
  <footer class="mt-auto">
    <div class="inner">
      Views: {{ num_visits }} | Powered by: <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">Mozilla</a>, <a href="https://docs.djangoproject.com/en/3.2/">Django</a>, <a href="https://github.com/swford89">swford</a>
    </div>
  </footer>
</div>

{% endblock content %}
    