{% extends 'catalog/base.html' %}

{% block content %}
    
    {% if books %}
        <br>
        <div class="containter-fluid">
            <div class="card-body">
                <h5 class="card-title">Book Results:</h5>
                {% for book in books %}
                    <li class="card-text"><a href="{% url 'catalog:book_detail' book.id %}">{{ book }}</a></li>
                {% endfor %}  
            </div>      
        </div>

    {% elif authors %}
        <br>
        <div class="container-fluid">
            <div class="card-body">
                <h5 class="card-title">Author Results:</h5>
                {% for author in authors %}
                    <li class="card-text"><a href="{% url 'catalog:author_detail' author.id %}">{{ author }}</a></li>
                {% endfor %}
            </div>
        </div>   

    {% else %}
        <div class="alert alert-warning" role="alert">
            Uh oh -- that either doesn't exist in our database, or there is a spelling error.
        </div>

    {% endif %}
        

{% endblock content %}
    